body {
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-top: 110px;
  font-size: 100PX;
  font-family: 'GongGothicMedium';
}

.sub_title {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: 'GmarketSansMedium';
}

li {
  list-style: none;
}

button {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Pretendard-Regular';
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.467);
  transition: all .5s ease;
  text-transform: uppercase;
}

.key_body {
  margin-top: -20px;
}

.pressed {
  background: tomato;
  transform: scale(1.2);
}


/* #change:visited ~ #Q:before{
  display: none;
  content: "Q";
}

#change:visited ~ #Q:after{
  display: block;
  content: "ㅂ";
} */