body {
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-top: 110px;
  font-size: 100PX;
  font-family: 'GongGothicMedium';
}

.sub_title {
  margin-top: -10px;
  font-size: 25px;
  font-family: 'GmarketSansMedium';
}

li {
  list-style: none;
}

button {
  width: 45px;
  height: 45px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Pretendard-Regular';
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.249);
  transition: all .5s ease;
  text-transform: uppercase;
}

.key_body {
  margin-top: -20px;
}

.pressed {
  background: tomato;
  transform: scale(1.2);
}

@media (max-width: 700px ) {
  .title {
    margin-top: 300px;
    font-size: 100px;
    word-spacing: -2px;
    font-family: 'PyeongChangPeace-Bold';
    color: rgb(29, 29, 29);
  }
  .sub_title {
    margin-top: 20px;
    font-size: 16px;
  }
  .key_body {
    margin-top: 30px;
  }
  button {
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-top: 20px;
  }
}
@media screen and (orientation: portrait){
  .sub_title:after{
    content: '아래의 키보드 자판을 터치해 주세요';
    font-family: 'GmarketSansMedium';
    color: black;
    font-size: 30px;
    word-spacing: -3px;
  }
}
@media screen and (orientation: landscape){
  .sub_title:after{
    content: '현재 공사중입니다. 영문 대문자로 키보드를 눌러보시거나 마우스로 눌러보세요.';
    color: black;
  }
}